.warehouse-group {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.warehouse-list {
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0,0,0,.08);
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #efefef;
    flex-basis: 49%;
    height: fit-content;
}

.warehouse-list h4 {
    padding: 8px 12px;
    border-bottom: 1px solid #efefef;
}

.item-group {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
}

.item-list {
   border-radius: 8px;
   margin: 4px 0 0;
   display: flex;
   flex-direction: row;
   overflow: hidden;
}

.checkout-detail {
    flex-basis: 100%;
    padding: 8px 12px;
}

.checkout-detail .checkout-name {
    font-weight: bold;
    font-size: 18px;
}

.checkout-detail .checkout-quantity {
    font-size: 12px;
    margin-bottom: 10px;
}

.checkout-detail .checkout-price-item {
    font-weight: bold;
    font-size: 14px;
}

.check-delivery .fa-truck {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.checkout-sub-total {
    font-weight: bold;
    padding: 8px 12px;
    border-top: 1px solid #efefef;
}