.cart-inner-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-inner-info > li {
  margin: 0;
}

.new-button-login {
  background-color: gray;
}

.login-logout {
  display: flex;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_googles_cart {
  width: 127px;
}

.login {
  color: #545456;
  font-size: 16px;
  padding: 8px 16px;
}

.login:hover {
  background-color: #ff4e00; /* Green */
  color: white;
}

.overlay-login .form-control {
  width: 320px;
}
