ul.slides {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

ul.slides li {
    cursor: pointer;
    border-top: 1px solid #efefef;
}
ul.slides li:not(:last-child) {
    border-right: 1px solid #efefef;
}

/* .slides_active {
    border: 1px solid #bbb;
} */

.grid.images_3_of_2 {
    box-shadow: 0px 0px 4px 5px rgb(0 0 0 / 7%);
    border-radius: 8px;
    overflow: hidden;
    padding: 0;
}