.cart-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    background: #454546;
    width: 400px;
    z-index: 999;
    overflow: auto;
    transition: all .3s;
}

.cart-wrapper.open {
    right: 0;
}

.cart-wrapper h1 {
    padding: 12px;
    background: #333333;
    margin: 18px 16px;
    color: #bbb;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #636363;
    box-shadow: 0px 0px 4px rgba(0,0,0,.8);
}

.cart-menu {
    list-style: none;
    overflow: auto;
}
.cart-list {
    display: flex;
    background: #FFF;
    margin: 14px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgb(255 255 255 / 35%);
}
.cart-list-image {
    width: 120px;
    margin-right: 10px
}